@import "_variables.scss";

header {
  padding-top: 40px; /* Titlebar */
  -webkit-app-region: drag;
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.wrapper {
  padding: 0 13px;
}