// Brand colors
$brand-primary:         #f4891e;
$brand-secondary:       #9b59b6;
$brand-dark:            #191919;
$brand-light:           #212122;

$body-bg:               $brand-dark;

$gray:                  #dee6ea;
$gray-light:            #edf3f6;

$brand-highlight:       #464646;

// Borders
$border-color:          $brand-light;

/**
 *  MEDIA QUERIES BREAKPOINTS
 */
// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  600px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  750px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

/**
 *  BOOTSTRAP GRID SYSTEM CONFIG
 */
// Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         0;

// Typography
$basefont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
